// Custom.scss
// Option A: Include all of Bootstrap

$purple: #652D90
$yellow: #FFC001
// Include any default variable overrides here (though functions won't be available)
@import "../assets/css/bootstrap.min.css"

.my-container
  width: 1000px
  margin: auto
  margin-top: 50px

.my-main
  margin-top: 8px
  display: grid
  grid-template-columns: 1fr 1fr 1fr 1fr
  gap: 10px

.my-card
  // width: 12rem
  max-height: 15rem
// Then add additional custom code here
